{"swagger":"2.0","info":{"title":"Default title","description":"This is a sample custom connector for testing the icon only","version":"1.0"},"host":"api.restful-api.dev","basePath":"/","schemes":["https"],"consumes":[],"produces":[],"paths":{"/objects/{id}":{"get":{"responses":{"default":{"description":"default","schema":{"type":"object","properties":{"id":{"type":"string","description":"id"},"name":{"type":"string","description":"name"},"data":{"type":"object","properties":{"year":{"type":"integer","format":"int32","description":"year"},"price":{"type":"number","format":"float","description":"price"},"CPU model":{"type":"string","description":"CPU model"},"Hard disk size":{"type":"string","description":"Hard disk size"}},"description":"data"}}}}},"summary":"/object/{id}","description":"Gets a single object by id","operationId":"_object","parameters":[{"name":"id","in":"path","required":true,"type":"string"}]}},"/objects":{"get":{"responses":{"default":{"description":"default","schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"id"},"name":{"type":"string","description":"name"},"data":{"type":"object","properties":{"color":{"type":"string","description":"color"},"capacity GB":{"type":"integer","format":"int32","description":"capacity GB"},"price":{"type":"number","format":"float","description":"price"},"generation":{"type":"string","description":"generation"},"year":{"type":"integer","format":"int32","description":"year"},"CPU model":{"type":"string","description":"CPU model"},"Hard disk size":{"type":"string","description":"Hard disk size"},"Strap Colour":{"type":"string","description":"Strap Colour"},"Case Size":{"type":"string","description":"Case Size"},"Color":{"type":"string","description":"Color"},"Description":{"type":"string","description":"Description"},"Capacity":{"type":"string","description":"Capacity"},"Screen size":{"type":"number","format":"float","description":"Screen size"},"Generation":{"type":"string","description":"Generation"},"Price":{"type":"string","description":"Price"}},"description":"data"}}}}}},"summary":"GET /objects","description":"Lists all objects","operationId":"_objects","parameters":[]}}},"definitions":{},"parameters":{},"responses":{},"securityDefinitions":{},"security":[],"tags":[]}